
@model RaffleLogic.Models.RaffleEntry

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Acme Corporation raffle!</h1>
    <p>Enter by simply filling out the form below with your information, 
        and a serial number from one of the products you've purchased from us</p>
</div>

<br/>
<br/>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form id="submissionForm" action="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName,
                    new { htmlAttributes = new { @class = "control-label" } })

                @Html.EditorFor(model => model.FirstName,
                    new { htmlAttributes = new { @class = "form-control", id = "firstName" } })
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName,
                    new { htmlAttributes = new { @class = "control-label" } })

                @Html.EditorFor(model => model.LastName,
                    new { htmlAttributes = new { @class = "form-control", id = "lastName" } })
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div clas="form-group">
                @Html.LabelFor(model => model.Age,
                    new { htmlAttributes = new { @class = "control-label" } })

                @Html.EditorFor(model => model.Age,
                    new { htmlAttributes = new { @class = "form-control", id = "age" } })
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email,
                    new { htmlAttributes = new { @class = "control-label" } })

                @Html.EditorFor(model => model.Email,
                    new { htmlAttributes = new { @class = "form-control", id = "email" } })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoldProduct.SerialNumber,
                    new { htmlAttributes = new { @class = "control-label" } })

                @Html.EditorFor(model => model.SoldProduct.SerialNumber,
                    new { htmlAttributes = new { @class = "form-control", id = "serialNumber" } })

                <span asp-validation-for="SoldProduct.SerialNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" id="submitBtn" value="Submit entry" class="btn btn-primary" />
            </div>
        </form>
        
        <div class="alert alert-success" id="successAlert" role="alert" style="display: none">
            You've successfully entered the raffle
            <button type="button" class="close" aria-label="Close" onclick="closeSuccess()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-danger" id="failureAlert" role="alert" style="display: none">
            Invalid form submission
            <button type="button" class="close" aria-label="Close" onclick="closeFailure()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    </div>

    <div class="card overlay">
        <div class="card-body">
            Submitting entry
            <div class="spinner-border text-primary float-right" role="status"></div>
        </div>
    </div>

    <div class="col-md-3"></div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/raffleForm.css" />
}

@section Scripts
{
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="~/js/raffleSubmision.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
