
@model RaffleLogic.Models.RaffleEntry

@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/raffleForm.css"/>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="lib/jquery/dist/jquery.js"></script>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form id="submissionForm" action="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName,
                    new { htmlAttributes = new { @class = "control-label" } })

                @Html.EditorFor(model => model.FirstName,
                    new { htmlAttributes = new { @class = "form-control", id = "firstName" } })
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName,
                    new { htmlAttributes = new { @class = "control-label" } })

                @Html.EditorFor(model => model.LastName,
                    new { htmlAttributes = new { @class = "form-control", id = "lastName" } })
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div clas="form-group">
                @Html.LabelFor(model => model.Age,
                    new { htmlAttributes = new { @class = "control-label" } })

                @Html.EditorFor(model => model.Age,
                    new { htmlAttributes = new { @class = "form-control", id = "age" } })
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email,
                    new { htmlAttributes = new { @class = "control-label" } })

                @Html.EditorFor(model => model.Email,
                    new { htmlAttributes = new { @class = "form-control", id = "email" } })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoldProduct.SerialNumber,
                    new { htmlAttributes = new { @class = "control-label" } })

                @Html.EditorFor(model => model.SoldProduct.SerialNumber,
                    new { htmlAttributes = new { @class = "form-control", id = "serialNumber" } })

                <span asp-validation-for="SoldProduct.SerialNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" id="submitBtn" value="Submit entry" class="btn btn-primary" />
            </div>
        </form>
    </div>
    
    <div class="card overlay">
        <div class="card-body">
            Submitting entry
            <div class="spinner-border text-primary float-right" role="status"></div>
        </div>
    </div>

    <div class="col-md-3"></div>
</div>

<script>
    $(document).ready(function() {
        $('#submissionForm').submit(function (e) {
            e.preventDefault();
            $('#submitBtn').prop("disabled", true);
            $('.overlay').show();
            var data = {
                'FirstName': $('#firstName').val(),
                'LastName': $('#lastName').val(),
                'Age': parseInt($('#age').val()),
                'Email': $('#email').val(),
                'SoldProduct': {
                    'SerialNumber': $('#serialNumber').val()
                }
            }
            console.log(JSON.stringify(data));
            $.ajax({
                type: "POST",
                url: '@Url.Action("PostRaffleEntry", "RaffleApi")',
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (data) {
                    alert("Form successfully posted.");
                    $('#submitBtn').prop("disabled", false);
                    $('.overlay').hide();
                },
                error: function (e) {
                    alert("Form posting failed.");
                    $('#submitBtn').prop("disabled", false);
                    $('.overlay').hide();
                }
            });
        });
    })
</script>


@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
